/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: rgba(245, 245,220, 0.2);
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color:white;
    opacity: 0.8;
    height: 80px;
    overflow: hidden;
}

.nav-right li a{
    text-decoration: none;
    color:black;
    padding: 12px 24px;
    float: left;
    font-weight: bold;
    border-radius: 10px;
    margin-top:20px;
}
.nav-right li a i{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

.nav a:hover{
  color: burlywood;
  transform: scale(1.2);
}

.nav i:hover{
  color: burlywood;
  transform: scale(1.2);
}


.nav-right li{
    display: inline-block;
    
}

.nav-right{
    float: right;
}


.logo img{
  border-radius: 50%;
  width: 90px;
  height: 60px;
  position:fixed;
  top: 11px;
  left: 32px;
}
.nav-right .ti-menu{
 color: black;
 position: fixed;
 top: 32px;
 right: 24px;
}



.heading{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
  padding-top: 100px;
  background-color: rgb(251, 242,232);
}

.heading h1{
  font-size: 50px;
  color: #000;
  margin-bottom: 25px;
  position: relative;
}

.heading p{
  font-size: 18px;
  color: #666;
  margin-bottom: 35px;
  width: 60%;
}


.container{
  width: 100%;
  margin: 0 auto;
}

.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-img{
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}
.about-img img{
  max-width: 100%;
  height: auto;
  display: block;
  padding: 24px 48px;
  transition: 0.5s ease;
}

.about-content{
  flex: 1;
}

.about-content h2{
  font-size: 40px;
  margin-bottom: 25px;
  position: relative;
}

.about-content p{
  font-size: 18px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 25px;
}

.about-content .read-more{
  display: inline-block;
  padding: 10px 20px;
  border: solid #666 1px;
  color: #666;
}

.about-content .read-more:hover{
  background-color:rgba(0, 0, 0, 0.3);
}



.line-1{
  width: 100%;
  height: 120px;
  background-color:rgb(25,18,55);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.line-1 h2{
  color: white;
  font-size:30px;
  position: relative;
}





.about-two{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-img-two{
  flex: 1;
  overflow: hidden;
}
.about-img-two img{
  max-width: 100%;
  height: auto;
  display: block;
  padding: 24px 48px;
  transition: 0.5s ease;
}

.about-content-two{
  margin-left: 40px;
  flex: 1;
}

.about-content-two h2{
  font-size: 40px;
  margin-bottom: 25px;
  position: relative;
}

.about-content-two p{
  font-size: 18px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 25px;
}

.about-content-two .read-more{
  display: inline-block;
  padding: 10px 20px;
  border: solid #666 1px;
  color: #666;
}

.about-content-two .read-more:hover{
  background-color:rgba(0, 0, 0, 0.3);
}






.footer{
  background-color:rgb(25,18,55);
  height: 300px;
  margin-top: 50px;
  opacity: 0.8;
  width: 100%;
}

.footer p {
  text-align: center;
  padding: 71px 32px;
  color: white;
  font-size: 20px;
}

.ti-facebook,
.ti-instagram,
.ti-twitter-alt{
  padding: 12px 12px;
}

.footer a{
  color: white;
  text-decoration: none;
}




