/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: rgba(245, 245,220, 0.2);
}

::placeholder{
  color: white;
}

.nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color:white;
  opacity: 0.8;
  height: 80px;
  overflow: hidden;
}

.nav-right li a{
  text-decoration: none;
  color:black;
  padding: 12px 24px;
  float: left;
  font-weight: bold;
  border-radius: 10px;
  margin-top:20px;
}
.nav-right li a i{
  text-decoration: none;
  color:black;
  font-weight: bold;
}
.nav a:hover{
  color: burlywood;
  transform: scale(1.2);
}

.nav i:hover{
  color: burlywood;
  transform: scale(1.2);
}


.nav-right li{
    display: inline-block;
    
}

.nav-right{
    float: right;
}


.logo img{
    border-radius: 50%;
    width: 90px;
    height: 60px;
    position:fixed;
    top: 11px;
    left: 32px;
}
.nav-right .ti-menu{
   color: black;
   position: fixed;
   top: 32px;
   right: 24px;
}


.heading{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 20px auto;
  padding-top: 100px;
  background-color: rgb(251, 242,232);
}

.heading h1{
  font-size: 50px;
  color: #000;
  margin-bottom: 25px;
  position: relative;
}

.heading p{
  font-size: 18px;
  color: #666;
  margin-bottom: 35px;
  width: 60%;
}


.container-contact{
  width: 100%;
  height: 700px;
}


.container-contact #column-contact-left{
  background-color: rgb(223, 8,15);
  padding: 48px 24px;
  color: #fefefe;
}

.container-contact #column-contact-left .title-contact{
  text-align: center;
}

.title-contact .reserve{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}

.title-contact .reserve-text{
  width: 300px;
  margin: auto;
}

#name, #phone,#date,#appt{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid rgb(196, 191, 191);
    background-color: rgb(223,8,15);
    color: #fefefe;
    box-sizing: border-box;
    border-radius: 10px;
}

#name:hover, #phone:hover,#date:hover,#appt:hover{
  border-color:white;
}

#submit-form-contact{
 width: 100%;
 margin: auto;
 padding: 8px 12px;
 border: solid 2px white;
 border-radius: 20px;
 color: rgb(223,8,15);
}

#column-contact-right .order-img{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top:150px;
}

#column-contact-right .order-text{
  text-align: center;
  font-size: 25px;
  font-weight: 100px;
  line-height:48px;
}

#column-contact-right .order-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

#submit-form-contact:hover{
  cursor: pointer;
  background-image: linear-gradient(to right, #f3d47e, #dc9079, #d08098, #e7bca8);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}


#column-contact-right .btn-order{
  padding: 6px 24px;
  border-color: rgb(223,8,15);
  background-color: bisque;
  border-radius: 30px;
  box-sizing: 1px;
  color: rgb(223,8,15);
}

#column-contact-right .btn-order:hover{
  cursor: pointer;
  background-image: linear-gradient(to right, #f3d47e, #dc9079, #d08098, #e7bca8);
}



.logo img:hover{
    cursor: pointer;
    background-color:burlywood;
}

.line1{
  clear: both;
  height: 100px;
}




footer{
  clear: both;
  background-color:rgb(25,18,55);
  height: 300px;
  margin-top: 50px;
  opacity: 0.8;
  width: 100%;
}

footer p{
  text-align: center;
  padding: 71px 32px;
  color: white;
  font-size: 20px;
}

.ti-facebook,
.ti-instagram,
.ti-twitter-alt{
  padding: 12px 12px;
}

footer a{
  color: white;
  text-decoration: none;
}






