@media (min-width: 1024px) {
    .ti-menu{
        display: none;
    }
}

@media (min-width: 740px) and (max-width: 1024px){
     .ti-menu{
        display: none;
    }

    .image .image-text{
        position: absolute;
        top: 220px;
        left: 80px;
    }

    .image .img-wel-text{
        font-size: 40px;
    }
    
    .image .img-brand{
        font-size: 50px;
    }
    
    .image .img-btn{
       padding: 10px 10px;
    }

    .login .login-container{
        width: 600px;
        height: 450px;
    }
}

@media (max-width: 740px) {
    .nav .nav-right{
        display: block;
    }
   .nav .nav-right > li{
        display: block;
    }
    
   #content .member-item{
    width: 100%;
    margin-top: 30px;
    }

    .image .image-text{
        position: absolute;
        top: 90px;
        left: 25px;
    }

    .image .img-wel-text{
        font-size: 15px;
    }
    
    .image .img-brand{
        font-size: 25px;
    }
    
    .image .img-btn{
       padding: 5px 5px;
       font-size: 10px;
    }


    #content .h2-summary{
        text-align: center;
        font-weight: bold;
        padding: 24px 12px;
        font-weight: bold;
        font-size: 26px;
    }

    #content .p-summary{
        width: 80%;
    }

    #content .img-alone-content{
        width: 100%;
    }

    #content .book .book-content{
        width: 100%;
    }

    .login .login-container{
        width: 300px;
        height: 450px
    }

    .sign-up .sign-up-container{
        width: 350px;
        height: 500px;
    }

}

