/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: rgba(245, 245,220, 0.2);
}

/* thanh điều hướng của trang website*/

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color:white;
    opacity: 0.8;
    height: 80px;
    overflow: hidden;
}

.nav-right li a{
    text-decoration: none;
    color:black;
    padding: 12px 24px;
    float: left;
    font-weight: bold;
    border-radius: 10px;
    margin-top:20px;
}
.nav-right li a i{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.nav a:hover{
    color: burlywood;
    transform: scale(1.2);
}

.nav i:hover{
    color: burlywood;
    transform: scale(1.2);
}

.nav-right li{
    display: inline-block;
    
}

.nav-right{
    float: right;
}




.logo img{
    border-radius: 50%;
    width: 90px;
    height: 60px;
    position:fixed;
    top: 11px;
    left: 32px;
}
.nav-right .ti-menu{
   color: black;
   position: fixed;
   top: 32px;
   right: 24px;
}


.logo img:hover{
    cursor: pointer;
    background-color:burlywood;
}

/* hình ảnh sider */

.image{
    max-width: 100%;
}

.image img{
    width: 100%;
    opacity: 0.8;
    transition: 0.5s ease;
}

.image .image-text{
    color: white;
    position: absolute;
    top: 300px;
    left: 150px;
}

.image .img-wel-text{
    font-size: 40px;
}

.image .img-brand{
    font-size: 60px;
}

.image .img-btn{
    display: inline-block;
    padding: 12px 12px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(240, 154, 41);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.image .img-btn:hover {
    background-color: burlywood;
}

.image .img-btn:active{
  background-color: rgb(209, 126, 17);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* nội dung */


#content .content-summary,.image-list,.img-alone,.book{
    max-width: 100%;
}


#content .h2-summary{
    text-align: center;
    margin-top:12px ;
    padding: 32px 0;
    opacity: 0.8;
    font-size: 26px;
}

#content .p-summary{
    text-align: center;
    margin:auto;
    width: 60%;
    padding-bottom: 24px;
    line-height: 30px;
    font-size: 16px;
}

#content .h4-summary{
    text-align: center;
    font-weight: bold;
    padding-bottom: 24px;
    margin-bottom: 50px;
    opacity: 0.8;
}


#content .img-list{
    margin: 0 50px;
}

#content .member-item{
    float: left;
    width: 33.33333%;
    text-align: center;
}

#content .member-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: 0.5s ease;
}

#content .member-img:hover{
    cursor: pointer;
    width: 240px;
    height: 240px;
}

#content .img-heading{
    margin-top: 15px;
    font-size: 20px;
    opacity: 0.8;
}

#content .content-img{
    text-align: justify;
    padding: 15px;
    margin: 0 50px;
    color: #1A1A1AB3;
    line-height: 30px;
    transition: 0.5s ease;
}

#content .img-alone-member{
    height: 500px;
    width: 100%;
    margin-top:50px;
}
#content .img-alone-heading{
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    opacity: 0.8;
}
#content .img-alone-content{
    margin: auto;
    margin-top: 20px;
    width: 60%;
    padding: 16px 32px;
    text-align: justify;
    line-height: 30px;
}


/* chân trang web */

footer{
    background-color:rgb(25,18,55); /* Green */
    height: 300px;
    margin-top: 100px;
    opacity: 0.8;
    max-width: 100%;
}

footer p {
    text-align: center;
    padding: 71px 32px;
    color:white;
    font-size: 20px;
}

.ti-facebook,
.ti-instagram,
.ti-twitter-alt{
    padding: 12px 12px;
}

footer a{
    color:white;
    text-decoration: none;
}




