/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: rgba(245, 245,220, 0.2);
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color:black;
    opacity: 0.8;
    height: 80px;
    overflow: hidden;
}

.nav-right li a{
    text-decoration: none;
    color:white;
    padding: 12px 24px;
    float: left;
    font-weight: bold;
    border-radius: 10px;
    margin-top:20px;
}
.nav-right li a i{
    text-decoration: none;
    color:white;
    font-weight: bold;
}

.nav a:hover{
    color: burlywood;
}

.nav i:hover{
    color: burlywood;
}

.nav-right li{
    display: inline-block;
    
}

.nav-right{
    float: right;
}




.logo img{
    border-radius: 50%;
    width: 90px;
    height: 60px;
    position:fixed;
    top: 11px;
    left: 32px;
}
.nav-right .ti-menu{
   color: white;
   position: fixed;
   top: 32px;
   right: 24px;
}


.logo img:hover{
    cursor: pointer;
    background-color:burlywood;
}

.image{
    max-width: 100%;
}

.image img{
    width: 100%;
    opacity: 0.8;
}

.image .image-text{
    color: white;
    position: absolute;
    top: 300px;
    left: 150px;
}

.image .img-wel-text{
    font-size: 40px;
}

.image .img-brand{
    font-size: 60px;
}

.image .img-btn{
    display: inline-block;
    padding: 12px 12px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(240, 154, 41);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.image .img-btn:hover {
    background-color: burlywood;
}

.image .img-btn:active{
  background-color: rgb(209, 126, 17);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#content .content-summary,.image-list,.img-alone,.book{
    max-width: 100%;
}


#content .h2-summary{
    text-align: center;
    margin-top:12px ;
    padding: 32px 0;
    opacity: 0.8;
    font-size: 26px;
}

#content .p-summary{
    text-align: center;
    margin:auto;
    width: 60%;
    padding-bottom: 24px;
    line-height: 30px;
    font-size: 16px;
}

#content .h4-summary{
    text-align: center;
    font-weight: bold;
    padding-bottom: 24px;
    margin-bottom: 50px;
    opacity: 0.8;
}


#content .img-list{
    margin: 0 50px;
}

#content .member-item{
    float: left;
    width: 33.33333%;
    text-align: center;
}

#content .member-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#content .member-img:hover{
    cursor: pointer;
    width: 240px;
    height: 240px;
}

#content .img-heading{
    margin-top: 15px;
    font-size: 20px;
    opacity: 0.8;
}

#content .content-img{
    text-align: justify;
    padding: 15px;
    margin: 0 50px;
    color: #1A1A1AB3;
    line-height: 30px;
}

#content .img-alone-member{
    height: 500px;
    width: 100%;
    margin-top:50px;
}
#content .img-alone-heading{
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    opacity: 0.8;
}
#content .img-alone-content{
    margin: auto;
    margin-top: 20px;
    width: 60%;
    padding: 16px 32px;
    text-align: justify;
    line-height: 30px;
}




footer{
    background-color:black; /* Green */
    height: 200px;
    margin-top: 200px;
    opacity: 0.8;
    max-width: 100%;
}

footer p {
    text-align: center;
    padding: 71px 32px;
    color: aliceblue;
    font-size: 20px;
}

.ti-facebook,
.ti-instagram,
.ti-twitter-alt{
    padding: 12px 12px;
}

footer a{
    color: white;
    text-decoration: none;
}


.login{
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.login .login-container{
    
    background-color: #fefefe;
    border: 1px solid #888;
    width: 600px;
    height: 500px;
    min-height: 200px;
    position: relative;
    border-radius:10px ;
    top: 40px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .btn-submit {
    background-color: rgb(209, 126, 17);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
  }

  .btn-submit:hover {
    opacity: 0.8;
  }

  .btn-login-fb,.btn-login-gg,.btn-login-apple {
    padding: 10px 20px;
    background-color: #ffede0;
    border: none;
    border-radius: 10px;
    width: 20%;
  }

  .btn-login-fb{
    margin-left: 10px;
  }

  .btn-login-fb:hover,.btn-login-gg:hover,.btn-login-apple:hover{
    opacity: 0.8;
  }
  
  .login-header .ti-close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
  }

  .login-header .login-title{
    text-align: center;
    padding: 24px;
    font-size: 24px;
    font-weight: bold;
  }

  .container {
    padding: 16px;
  }

  span.psw {
    float: right;
    padding: 12px;
  }

  .login-header .ti-close:hover,
  .login-header .ti-close:focus {
  color: red;
  cursor: pointer;
}



.sign-up{
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.sign-up .sign-up-container{
    
    background-color: #fefefe;
    border: 1px solid #888;
    width: 600px;
    height: 500px;
    min-height: 200px;
    position: relative;
    border-radius: 10px;
    top: 40px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .btn-submit {
    background-color: rgb(209, 126, 17);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
  }

  .btn-submit:hover {
    opacity: 0.8;
  }


.btn-sign-up-fb,.btn-sign-up-gg,.btn-sign-up-apple {
    padding: 10px 20px;
    background-color: #ffede0;
    border: none;
    border-radius: 10px;
    width: 20%;
  }

  .btn-sign-up-fb{
    margin-left: 10px;
  }

  .btn-sign-up-fb:hover,.btn-sign-up-gg:hover,.btn-sign-up-apple:hover{
    opacity: 0.8;
  }
  
  .sign-up-header .ti-close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
  }

.suggest-sign-up{
    margin: 12px;
}

  .sign-up-header .sign-up-title{
    text-align: center;
    margin-bottom: 12px;
    margin-top: 12px;
    font-size: 24px;
    font-weight: bold;
  }

  .container {
    padding: 16px;
  }

  span.psw {
    float: right;
    padding: 12px;
  }

  .psw:hover{
    cursor: pointer;
  }



  .sign-up-header .ti-close:hover,
  .sign-up-header .ti-close:focus {
  color: red;
  cursor: pointer;
}

