@media (min-width: 1024px) {
    .ti-menu{
        display: none;
    }

    
}

@media (min-width: 740px) and (max-width: 1024px){
     .ti-menu{
        display: none;
    }
    .login .login-container, .sign-up .sign-up-container{
       margin-top: 200px;
    }

  
    .login-header .ti-close, .sign-up-header .ti-close {
        position: absolute;
        right: 150px;
        top:240px;
        color: #000;
        font-size: 20px;
        font-weight: bold;
      }
    
}

@media (max-width: 740px) {

    .login .login-container{
        width: 350px;
        height: 500px;
        
    }

    .sign-up .sign-up-container{
        width: 350px;
        height: 500px;
    }

    .login-header .ti-close, .sign-up-header .ti-close  {
        position: absolute;
        right: 40px;
        top: 76px;
        color: #000;
        font-size: 20px;
        font-weight: bold;
    }

    


}
